/* 상단영역 */
header{
  width: 1440px;
  margin: 0 auto;
  display: flex;
  background-color: #eee;
  justify-content: space-between;
  height: 90px;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  /*! margin-top: 30px; */
  border-radius: 0px 0 30px 30px;
  position: absolute;
  left: calc((100% - 1440px) / 2);
  transition: 1s;
}
header:hover{
  box-shadow: 0 0 20px #999;
  transform: translateY(-20px);
}
header h1{
font-size: 30px;
color: blue;
letter-spacing: -1px;
}
header h1::before{
  content:"";
  background-image: url(../img/svg/logo.svg);
  width: 40px;
  height: 40px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: -9px;
}
/* h1::after{
  content:"]";
} */
header ul{
  display: flex;
  column-gap: 20px;
  gap: 20px;
}
header ul.gnb{
  font-size: 19px;
  font-weight: bold;
}
header ul.gnb li{
  
}
header ul.gnb li a{
  transition: 0.5s;
}
header ul.gnb li a:hover{
  color: red;
}
header ul.enb{
  
}
header ul.enb li{
  font-size: 0;
  width: 30px;
  height: 30px;
  background-size: contain;
}
header ul.enb li:nth-child(1){
  background-image: url(../img/svg/kakao.svg);
}
header ul.enb li:nth-child(2){
  background-image: url(../img/svg/insta.svg);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}
header ul.enb li a{
  width: 30px;
  height: 30px;
  display: block;
}
