body{
    transition: all 1s;
}
.aside{
    width: 220px;
    background-color: #ccc;
    position: fixed;
    right: -220px;
    top: 100px;
    padding: 10px;
    box-sizing: border-box;
    transition: all 1s;
}
.asideShow{
    right: 0;
}
.aside a.ham{
    background-color: #ccc;
    position: absolute;
    width: 100px;
    left: -100px;
    padding: 10px;
    box-sizing: border-box;
    top: 0;
}
.aside ul{
    line-height: 2;
    text-transform: capitalize;
}
.aside ul li{
    
}
.aside ul li a{
    
    display: block;
}

header ul.gnb{
    font-size: 20px;
}
header ul.gnb li{
    
}
header ul.gnb li a{
    
}
.over{
    color:red;
}





















